&qspi {
    status = "disabled";
};

&arduino_serial {
    status = "disabled";
};

&timer4 {
    status = "disabled";
};

&uart0 {
    status = "okay";
};


/* UART1 (RS485)：TX=P0.19, RX=P0.20；P0.21 (DE) 由程式 GPIO 控制 */
&uart1 {
    status = "okay";
    compatible = "nordic,nrf-uarte";
    current-speed = <115200>;
    pinctrl-0 = <&uart1_default>;
    pinctrl-1 = <&uart1_sleep>;
    pinctrl-names = "default", "sleep";
};

&pinctrl {
    uart0_default: uart0_default {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 6)>;
        };
        group2 {
            psels = <NRF_PSEL(UART_RX, 0, 8)>;
            bias-pull-up;
        };
    };
    uart0_sleep: uart0_sleep {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 6)>,
                    <NRF_PSEL(UART_RX, 0, 8)>;
            low-power-enable;
        };
    };

    uart1_default: uart1_default {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 19)>;
            nordic,drive-mode = <NRF_DRIVE_H0H1>;
        };
        group2 {
            psels = <NRF_PSEL(UART_RX, 0, 20)>;
            bias-pull-up;
        };
    };
    uart1_sleep: uart1_sleep {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 19)>,
                    <NRF_PSEL(UART_RX, 0, 20)>;
            low-power-enable;
        };
    };
};

&gpio0 {
    gpio-reserved-ranges = <0 2>, <6 1>, <8 3>;
    status_led {
        gpio-hog;
        gpios = <17 GPIO_ACTIVE_LOW>;
        output-high;
        line-name = "Status LED EN";
    };
};

/ {
    chosen {
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
    };
};